{% if messages %}
    {% for message in messages %}
        <div id="message" class="alert-container">
            <div class="alert" roll="alert">
                <div class="alert-{{message.tags}}">
                    <strong>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        Error:
                        {% else %}
                        {{ message.tags|title }}:
                        {% endif %}
                        {{ message }}
                    </strong>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}