{% extends 'base.html' %} 
{% load humanize %}
{% load comments_count %}
{% block content %}

<!-- Comments Modal -->
<div id="comments" class="modal">
  <div class="comments-box">
    <div class="comment-box">
      <div class="comment-heading">
        <span class="name"> John Doe </span><i class="fas fa-clock"></i> 3 min
      </div>
      <div class="comment-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis, expedita.
      </div>
    </div>
    <div class="comment-box">
      <div class="comment-heading">
        <span class="name"> John Doe </span><i class="fas fa-clock"></i> 3 min
      </div>
      <div class="comment-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis, expedita.
      </div>
    </div>
  </div>
</div>

<main class="home">
  <div class="container">
    <div class="d-flex">
      <div class="feed">
          <div id="add-post" class="shadow">
              <form action="{% url 'add_post' %}" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="sample-poster">
                  <img src="https://image.tmdb.org/t/p/w1280/phxiKFDvPeQj4AbkvJLmuZEieDU.jpg" id="post-poster" alt="">
                  <input type="hidden" name="movie-id" id="poster-id" value="">
              </div>
              <textarea rows="4" required name="post-text" placeholder="In search of any movie? Have a movie you want to recommend?" class="post-text"></textarea>
              <div class="d-flex">
                <div class="add-poster">
                  <div class="poster-inner">
                    <input type="text" class="search-poster" id="search-poster" placeholder="Add Movie poster...">
                  </div>
                </div>
                <div class="post-btn">
                  <button class="btn" type="submit">Post</button>
                </div>
              </div>
            </form>
            </div>

        {% for post in posts %}
        <div class="post shadow">
            <div class="post-head">
              <div class="d-flex">
                <div class="votes shadow">
                  <div class="arrows">
                      <i class="fas fa-arrow-up"></i>
                      <i class="fas fa-arrow-down"></i>
                  </div>
                  <div class="total">
                    {{ post.votes }}
                  </div>
                </div>
                <div class="name-time">
                  <div class="name">
                      {% if not post.user.first_name == "" %}
                        {{ post.user.first_name }} {{ post.user.last_name }}
                      {% else %}
                        {{ post.user.username }}
                      {% endif %}
                  </div>
                  <div class="time">
                    <small><i class="fas fa-clock"></i> {{ post.time | timesince }}</small>
                  </div>
                </div>
                <div class="dots">
                    <!-- <i class="fas fa-ellipsis-v"></i> -->
                </div>
              </div>
            </div>
            <div class="post-body">
              {% if not post.movie_bg == '0' %}
              <div class="poster">
                  <img src="https://image.tmdb.org/t/p/w1280/{{ post.movie_bg }}" alt="">
              </div>
              {% endif %}
              <div class="text">
                {{ post.text | linebreaks }}
              </div>
            </div> 
            <div class="post-tail">
              <div class="show-comments">
                 <span onclick="showComments('{{post.id}}');" data-featherlight="#comments"><i class="fas fa-comments"></i> Comments {{ post | comments_count }}</span> 
              </div>
              <form action="{% url 'add_comment' %}" autocomplete="off" method="POST">
                {% csrf_token %}
                <div class="add-comment">
                  <input type="hidden" name="post_id" value="{{ post.id }}">
                  <input class="comment" required name="comment" type="text" placeholder="Add comment...">
                  <button type="submit">Post</button>
                </div>
              </form>
            </div>             
          </div>
        {% endfor %}
        
        
      </div>
      <div class="sidebar">
        <div class="sort">
          <div class="heading">
            Show Results For
          </div>
          <div class="filter-posts"><i class="fas fa-filter"></i> Filter Posts <i class="fas fa-sort-down"></i></div>
          <div class="content-relative">
            <form action="{% url 'index' %}" id="sort-results-form">
              <input type="hidden" name="results" id="sort-value" value="">
              <ul class="filter" id="filter-options"> 
                <li id="all" class="active">All</li>
                <li id="latest">Latest</li>
                <li id="top_w">Top (Past Week)</li>
                <li id="top_m">Top (Past Month)</li>
                <li id="top_all">Top (All Time)</li>
              </ul>
            </form>
          </div>
        </div>
        <div class="suggested">
          <div class="heading">
            Suggested
          </div>
          <div class="suggestions">
            {% for suggestion in suggested %}
             {% if not suggestion == request.user %}
            <div class="suggestion">
                <div class="avi">
                  <a href="{% url 'profile' suggestion.id %}">
                    <img class="shadow" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/tGLO9zw5ZtCeyyEWgbYGgsFxC6i.jpg" alt="">
                  </a>
                </div>
                <div class="username">
                 <a href="{% url 'profile' suggestion.id %}">
                    {% if not suggestion.first_name == "" %}
                      {{ suggestion.first_name }} {{ suggestion.last_name }}
                    {% else %}
                      {{ suggestion.username }}
                    {% endif %}
                 </a> 
                </div>
                <div class="follow">
                  <form action="{% url 'follow_user' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="profile_id" value="{{ suggestion.id }}">
                    <button type="submit">Follow</button>
                  </form>
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}