{% extends 'base.html' %} {% block content %}

<script>
  var profile_user_id = "{{ profile_user.id }}";
</script>

<!-- Edit Top 10 Movies Modal -->
<div id="top10-modal" class="modal">
    <div class="heading" id="top10-heading">Edit Your Top 10 Movies</div>
    <div class="list" id="edit-list">
      <div class="d-flex">
        <div class="rank">1</div>
        <div class="name">Donnie Darko</div>
        <div class="buttons d-flex">
          <div class="edit d-flex">
            <div class="move-up"><i class="fas fa-sort-numeric-up"></i></div>
            <div class="move-down"><i class="fas fa-sort-numeric-down"></i></div>
          </div>
          <div class="delete-box">
            <span class="delete"><i class="far fa-trash-alt"></i></span>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="rank">1</div>
        <div class="name">Donnie Darko</div>
        <div class="buttons d-flex">
          <div class="edit d-flex">
            <div class="move-up"><i class="fas fa-sort-numeric-up"></i></div>
            <div class="move-down"><i class="fas fa-sort-numeric-down"></i></div>
          </div>
          <div class="delete-box">
            <span class="delete"><i class="far fa-trash-alt"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>



<main class="profile">
  <div class="dummy"></div>
  <div class="profile-body">
    <div class="landing-movie-img">
      <img src="https://image.tmdb.org/t/p/w1280/2qR5pJEMumBCKPxFrfx7RU25oVk.jpg" id="profile-bg" alt="">
    </div>

    
    <div class="user-info">
      <div class="container">
        <div class="stats">
          <div class="fullname">
            <div>
              {% if not profile_user.first_name == "" %}
              {{ profile_user.first_name }} {{ profile_user.last_name }}
              {% else %}
              {{ profile_user.username }}
              {% endif %}
            </div>
          </div>
          <div class="d-flex">
            <div class="followers">
              <div class="count">
                {{ followers }}
              </div>
              <div class="subheading">Followers</div>
            </div>
            <div class="following">
              <div class="count">
                {{ following }}
              </div>
              <div class="subheading">Following</div>
            </div>
            <div class="graded-count">
              <div class="count">
                {{ movies_graded }}
              </div>
              <div class="subheading">Movies Graded</div>
            </div>
            <div class="follow">
              <i class="fas fa-plus"></i>
            </div>
          </div>
        </div>
        <div class="body">
          <div class="switch-btns">
            <button class="top active">Top 10 Movies</button>
            <button class="all">All Movies</button>
          </div>
          <div class="edit"><span id="edit-list-btn" data-featherlight="#top10-modal"><i class="fas fa-cog"></i> Edit List</span> </div>
          <div class="d-flex" id="profile-movies">
            <div class="movie-card-padding">
              <div class="top-movie-card" style="background-image: url('https://image.tmdb.org/t/p/w1280/2qR5pJEMumBCKPxFrfx7RU25oVk.jpg');">
                <div class="movie-card-overlay bg-1">
                  <div class="d-flex">
                    <div class="poster">
                      <img class="shadow" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2//nu7XIa67cXc2t7frXCE5voXUJcN.jpg" alt="">
                    </div>
                    <div class="details">
                      <div class="name">Drive (2011)</div>
                      <div class="view-details"><a href="movie.html">View Details <i class="fas fa-long-arrow-alt-right"></i></a> </div>
                    </div>
                    <div class="rank">
                      01
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}