{% extends 'base.html' %} {% block content %}

<script>
  var profile_user_id = "{{ profile_user.id }}";
</script>

<!-- Edit Top 10 Movies Modal -->
<div id="top10-modal" class="modal">
    <div class="heading" id="top10-heading">Edit Your Top 10 Movies</div>
    <div class="list" id="edit-list">
    </div>
</div>



<main class="profile">
  <div class="dummy"></div>
  <div class="profile-body">
    <div class="landing-movie-img">
      <img src="https://image.tmdb.org/t/p/w1280/2qR5pJEMumBCKPxFrfx7RU25oVk.jpg" id="profile-bg" alt="">
    </div>

    
    <div class="user-info">
      <div class="container">
        <div class="stats">
          <div class="fullname">
            <div>
              {% if not profile_user.first_name == "" %}
              {{ profile_user.first_name }} {{ profile_user.last_name }}
              {% else %}
              {{ profile_user.username }}
              {% endif %}
            </div>
          </div>
          <div class="d-flex">
            <div class="followers">
              <div class="count">
                {{ followers }}
              </div>
              <div class="subheading">Followers</div>
            </div>
            <div class="following">
              <div class="count">
                {{ following }}
              </div>
              <div class="subheading">Following</div>
            </div>
            <div class="graded-count">
              <div class="count">
                {{ movies_graded }}
              </div>
              <div class="subheading">Movies Graded</div>
            </div>
            <div class="follow">
              {% if already_follows == False %}
                <form action="{% url 'follow_user' %}" method="POST" id="follow-form">
                  {% csrf_token %}
                  <input type="hidden" name="profile_id" value="{{ profile_user.id }}">
                </form>
                <i class="fas fa-plus" id="follow-btn"></i>
              {% else %}
                <i class="fas fa-check"></i>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="body">
          <div class="switch-btns">
            <button class="top active" id="top10-btn">Top 10 Movies</button>
            <button class="all" id="all-btn">All Movies</button>
          </div>
          {% if profile_user == request.user %}
          <div class="edit"><span id="edit-list-btn" data-featherlight="#top10-modal"><i class="fas fa-cog"></i> Edit List</span> </div>
          {% endif %}
          <div class="d-flex" id="profile-movies">            
          </div>
          <div class="text-center">
            <button class="profile-load-more" id="profile-load-more">Load More <i class="fas fa-arrow-down"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}